# first ignore everything
**/*

# now add things to include
!./README.md
!./pyproject.toml
!./poetry.lock
!./observation_portal/
!./manage.py

# but stil ignore the following recursively
**/*.swp
**/*.pyc
**/*__pycache__
