django
django-rest-framework
drf-yasg
dramatiq[redis, watch]
apscheduler
requests
django-filter
django-extensions
django-cors-headers
django-registration-redux
django-webpack-loader
django-oauth-toolkit
django-bootstrap4
django-dramatiq
django-storages
time_intervals
rise-set==0.4.11
elasticsearch<6.0
WeasyPrint
PyPDF2
psycopg2-binary
boto3
redis
django-redis-cache<2.1
gunicorn[gevent]>=19,<20

mixer
responses
