django
django-rest-framework
drf-yasg
celery
requests
django-filter
django-extensions
django-registration-redux
django-oauth-toolkit
time_intervals
rise_set
elasticsearch<6.0
WeasyPrint
PyPDF2
psycopg2-binary
boto3

mixer
responses
