{% extends "registration/registration_base.html" %}
{% load i18n bootstrap3 %}
{% block title %}{% trans "Log in" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="{% trans 'Log in' %}" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
        <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
        <p>Use of any LCO facilities and/or data implies acceptance of the <a href="https://lco.global/observatory/termsofservice/"> Terms of Service</p>.
    </div>
</div>
{% endblock %}
