{% extends "base.html" %}
{% load i18n static bootstrap4 %}

{% block title %}{% trans "Submit Application" %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sciapplications.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="{% url 'sciapplications:index' %}">Calls for Proposals</a></li>
          <li class="active">Submit proposal</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <p>You are creating a proposal for {{ call.semester }}.</p>
        {% if call.proposal_type != 'DDT' %}
        <p>Deadline: <strong>{{ call.deadline|date:"j M Y P" }}</strong> ({{ call.deadline|timeuntil }})</p>
        {% endif %}
        <p>{{ call.eligibility }}</p>
        {% bootstrap_form_errors form %}
        <form method="post" action="" enctype="multipart/form-data" id="app_form">
            {% csrf_token %}

            {{ form.status }}
            {{ form.call }}

            {% if form.title %}
                {% bootstrap_field form.title %}
            {% endif %}

            {% if form.abstract %}
                {% bootstrap_field form.abstract placeholder='Limit 500 words' %}
            {% endif %}

            {% if form.tac_rank %}
                {% bootstrap_label 'Rank' label_for=id_tac_rank %}
                {% bootstrap_field form.tac_rank show_label=False %}
            {% endif %}

            {% if form.pi %}
                {% bootstrap_label 'Principal Investigator' label_for=id_pi %}
                <div class="help-block">
                    <strong>If you are the principal investigator on this proposal, please ensure your information
                        is correct and up to date before proceeding. You can view and update your details on your
                        <!-- TODO: Link to profile page in frontend -->
                        <a href="">profile</a> page.
                    </strong>
                </div>
                <div class="help-block">
                    The first name of the principal investigator will be presented to reviewers as an initial.
                </div>
                <table class="table">
                  <thead><tr><th>Email</th><th>First Name</th><th>Last Name</th><th>Institution</th></tr></thead>
                  <tr>
                    <td>{% bootstrap_field form.pi show_label=false placeholder='Email' %}</td>
                    <td>{% bootstrap_field form.pi_first_name show_label=false placeholder='First Name' %}</td>
                    <td>{% bootstrap_field form.pi_last_name show_label=false placeholder='Last Name' %}</td>
                    <td>{% bootstrap_field form.pi_institution show_label=false placeholder='Institution' %}</td>
                  </tr>
                </table>
            {% endif %}

            {% bootstrap_label 'Co-investigators' %}
            <div class="help-block">
              {% blocktrans %}
              Add the details of co-investigators on this proposal. First names will be presented as initials.
              {% endblocktrans %}
            </div>
            <table class="table">
              <thead><tr><th>Email</th><th>First Name</th><th>Last Name</th><th>Institution</th></thead>
              <tbody>
                {% for form in ci_form.forms %}
                  {% bootstrap_form_errors form %}
                  {{ form.id }}
                  <tr class="ci-row">
                    <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {% bootstrap_field form.email show_label=false %}
                    </td>
                    <td>{% bootstrap_field form.first_name show_label=false %}</td>
                    <td>{% bootstrap_field form.last_name show_label=false %}</td>
                    <td>{% bootstrap_field form.institution show_label=false %}</td>
                  </tr>
                {% endfor %}
              </tbody>
              {{ ci_form.management_form }}
            </table>


            {% if timerequest_form %}
                {% bootstrap_label 'Observing Budget' %}
                <div class="help-block">
                {% blocktrans %}Requested observing time in hours for the semester. Time for <a href="https://lco.global/documentation/special-scheduling-modes/" target="_blank">Rapid Response mode</a>
                (within 15 minutes of submission) and
                <a href="https://lco.global/documentation/special-scheduling-modes/" target="_blank">Time-Critical mode</a> observations must be requested separately.
                {% endblocktrans %}
                </div>
                {% bootstrap_formset_errors timerequest_form %}
                <table class="table">
                    <thead><tr>
                        {% if call.proposal_type == 'KEY' %}
                        <th>Semester</th>
                        {% endif %}
                        <th>Instrument</th>
                        <th>Standard Time</th>
                        <th>Rapid Response</th>
                        <th>Time Critical</th>
                    </tr></thead>
                    <tbody>
                    {% for form in timerequest_form.forms %}
                    {% bootstrap_form_errors form %}
                    {{ form.id }}
                    <tr class="timerequest-row">
                        {% if call.proposal_type == 'KEY' %}
                        <td>
                        {% bootstrap_field form.semester show_label=false %}
                        </td>
                        {% endif %}
                        <td>
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {% bootstrap_field form.instrument show_label=false %}
                        </td>
                        <td>{% bootstrap_field form.std_time show_label=false %}</td>
                        <td>{% bootstrap_field form.rr_time show_label=false %}</td>
                        <td>{% bootstrap_field form.tc_time show_label=false %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {{ timerequest_form.management_form }}
                </table>

            {% endif %}

            {% if form.pdf %}
                {% bootstrap_label 'Upload PDF' %}
                <div class="help-block">

                <!-- Sci Proposal PDF description -->
                {% if call.proposal_type == 'SCI' %}
                <p>
                    For the remainder of your proposal, please upload a single pdf file that includes the following sections:
                </p>
                <ul>
                    <li>
                        <strong>Science Justification.</strong> This section must provide appropriate background information and state the goals of the project. The results of any previous time allocated for this project should be discussed. Pertinent references should be included. Figures may be embedded or appended, but the text itself should be limited to approximately the equivalent of a single page.
                    </li>
                    <li>
                        <strong>Experimental Design.</strong> This section should describe the strategy of your observing program, including the characteristics of your targets, what measurements you will make from the data, and what additional work you will do to address your science goals. If your targets are known, list them and their expected brightnesses. This section must include an explanation of your observing budget, in which you justify the instruments, the exposure times, and the total number of hours you’re requesting. You must provide independent justification for requests for Rapid Response or Time Critical observations. If these are not adequately justified, they will not be granted. If unusual scheduling constraints might impact your success, identify them.
                    </li>
                    <li>
                        <strong>Report of related programs on other telescopes.</strong>
                    </li>
                    <li>
                        <strong>Report on use of LCO in the past 3 years.</strong>
                    </li>
                    <li>
                        <strong>List of the authors’ related publications.</strong>You may include up to 10 publications
                    </li>
                </ul>
                <p>The format of the pdf file is subject to the following constraints.</p>
                <ul>
                    <li>The font size must be 11 points or larger.</li>
                    <li>Margins on all edges must be at least 1 inch.</li>
                    <li>Line spacing must be no denser than 6 lines per inch.</li>
                    <li>The file size must be under 10MB.</li>
                    <li>The recommended length is 6 pages.</li>
                </ul>
                {% endif %}

                <!-- KEY proposal PDF description -->
                {% if call.proposal_type == 'KEY' %}
                <p>
                    For the remainder of your proposal, please upload a single pdf file that includes the sections listed below. Consult the Call for Key Projects for information on the sections (e.g. Plan for management) that are unique to key projects.
                </p>
                <ul>
                    <li>
                        <strong>Science Justification.</strong> This section must provide appropriate background information and state the goals of the project. The results of any previous time allocated for this project should be discussed. Pertinent references should be included. Figures may be embedded or appended, but the text itself should be limited to approximately the equivalent of two pages.
                    </li>
                    <li>
                        <strong>Experimental Design.</strong> This section should describe the strategy of your observing program, including the characteristics of your targets, what measurements you will make from the data, and what additional work you will do to address your science goals. If your targets are known, list them and their expected brightnesses. This section must include an explanation of your observing budget, in which you justify the instruments, the exposure times, and the total number of hours you’re requesting. You must provide independent justification for requests for Rapid Response or Time Critical observations. If these are not adequately justified, they will not be granted. If unusual scheduling constraints might impact your success, identify them.
                    </li>
                    <li>
                        <strong>Suitability for LCO's capabilities.</strong> This section should describe how the proposed study takes advantage of the unique aspects of the LCO network and will yield a result that could not be obtained without LCO.
                    </li>
                    <li>
                        <strong>Plan for management of the entire scientific investigation.</strong>
                    </li>
                    <li>
                        <strong>Contributions brought by non-LCO participants.</strong> This section should describe what resources collaborators on the key project team will commit to making the key project successful. Such resources could be access to other facilities, additional time on the LCO network from their own institutions, computing resources, or scientist time.
                    </li>
                    <li>
                        <strong>Report of related programs on other telescopes.</strong>
                    </li>
                    <li>
                        <strong>Report on use of LCO in the past 3 years.</strong>
                    </li>
                    <li>
                        <strong>List of the authors’ related publications.</strong>
                    </li>
                </ul>
                <p>The format of the pdf file is subject to the following constraints.</p>
                <ul>
                    <li>The font size must be 11 points or larger.</li>
                    <li>Margins on all edges must be at least 1 inch.</li>
                    <li>Line spacing must be no denser than 6 lines per inch.</li>
                    <li>The file size must be under 10MB.</li>
                    <li>The recommended length is 14 pages.</li>
                </ul>
                {% endif %}

                <!-- DDT proposal PDF description -->
                {% if call.proposal_type == 'DDT' %}
                <p>
                    For the remainder of your proposal, please upload a single pdf file that includes the following sections:
                </p>
                <ul>
                    <li>
                        <strong>Science Justification.</strong> This section must provide appropriate background information and state the goals of the observations. Pertinent references should be included. Figures may be embedded or appended, but the text itself should be limited to approximately the equivalent of a single page.
                    </li>
                    <li>
                        <strong>Experimental Design.</strong> This section should describe the characteristics of your targets and what measurements you will make from the data. If your targets are known, list them and their expected brightnesses. This section must also justify the instruments, the exposure times, and the total time you’re requesting. You must provide independent justification for requests for Rapid Response or Time Critical observations. If these are not adequately justified, they will not be granted. If unusual scheduling constraints might impact your success, identify them.
                    </li>
                    <li>
                        <strong>Discretionary Time Justification.</strong> Discretionary time is reserved for observations of unforeseen targets-of-opportunity. This section should describe why the proposal must be reviewed now, rather than as part of the normal time allocation process for the upcoming semester. Additionally, describe through what affiliation you are entitled to request DD time.
                    </li>
                </ul>
                <p>The format of the pdf file is subject to the following constraints.</p>
                <ul>
                    <li>The font size must be 11 points or larger.</li>
                    <li>Margins on all edges must be at least 1 inch.</li>
                    <li>Line spacing must be no denser than 6 lines per inch.</li>
                    <li>The file size must be under 10MB.</li>
                    <li>The recommended length is 2 pages</li>
                </ul>
                {% endif %}

                </div>
                {% bootstrap_field form.pdf show_label=False %}
            {% endif %}
        </form>
        <a href="#">Back to top</a>
    </div>
    <div class="col-md-3">
        <h3>{% trans 'Application status' %}:
            {% if form.instance.id %}
                {{ form.status.value }}
            {% else %}
                {% trans 'UNSAVED' %}
            {% endif %}
        </h3>
        {% blocktrans %}
        <p>You may save your application and work on it later.</p>
        <p>Once you submit your application, you will no longer be able to edit it.</p>
        {% endblocktrans %}
        {% buttons %}
        <a href="#" class="btn btn-info mr-md-4" id="save">{% trans 'Save' %}</a>
        <a href="#" class="btn btn-success" id="submit">{% trans 'Submit' %}</a>
        {% endbuttons %}
        {% if form.instance.id %}
        <p>Previewing your submission will <strong>discard</strong> any pending edits.</p>
        <p><a href="{% url 'sciapplications:detail' form.instance.id %}" class="btn btn-default" id="preview">{% trans 'Preview' %}</a></p>
        <p>{% trans 'Deleting a draft is an irreversible action' %}.</p>
        <p><a href="{% url 'sciapplications:delete' pk=form.instance.id %}" class="btn btn-danger">{% trans 'Delete' %}</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script type="text/javascript">
    function check_delete(row){
         if(row.siblings('tr').length < 1){
           row.find('.fa-trash').hide();
        }else{
           row.find('.fa-trash').show();
        }
    }
    function instantiateFormset(elem, prefix){
        elem.formset({
            prefix: prefix,
            deleteText: '<i class="fa fa-trash"></i>',
            addText: '<i class="fa fa-plus"></i> add another ',
            deleteCssClass: 'delete-' + prefix,
            formCssClass: 'form-' + prefix,
            added: function(row){
              check_delete(row);
              row.find('input[type=number]').val(0);
            },
            removed: function(row){
              check_delete(row);
            }
        });
      }

    $(document).ready(function(){
        instantiateFormset($('.ci-row'), '{{ ci_form.prefix }}');
        instantiateFormset($('.timerequest-row'), '{{ timerequest_form.prefix }}');
        check_delete($('.ci-row').first());
        check_delete($('.timerequest-row').first());
    });

    $('#submit').click(function(){
        if(window.confirm('Submit this application? You will no longer be able to edit it')){
            $('#id_status').val('SUBMITTED')
            $('#app_form').submit()
        }
    });
    $('#save').click(function(){
        $('#id_status').val('DRAFT')
        $('#app_form').submit()
    });
</script>
{% endblock %}
