{% extends 'base.html' %}
{% load i18n sciapp_extras %}
{% block title %}{% trans 'Submit Proposal' %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Calls for Proposals</h1>
        <p>
            LCO's year is divided into two observing semesters, each 6 months long. Calls for proposals are issued each semester. Three types of proposals can be submitted through this LCO Observation Portal:
        </p>
        <ul>
          <li><b>Standard proposals</b> are accepted each semester from astronomers affiliated with LCO and LCO's non-guaranteed-time partners:
                 UCSB, U. Colorado, IAC, and IPAC at Caltech. Standard proposals should only be submitted through this portal from PIs affiliated with
                 one of these institutions. Other Science Collaboration institutions allocate their shares of time according to their own TAC procedures
                 and do not use this portal to collect proposals.</li>
          <li><b>Key Project proposals</b> are accepted annually from astronomers affiliated with LCO's Science Collaboration partners
                 (guaranteed and non-guaranteed-time). Key project proposals <b>should</b> be submitted through this portal.
                 Key project proposals are reviewed by the <a href="https://lco.global/science/proposals/TAC/">LCO TAC</a>.</li>
          <li><b>Director's Discretionary Time (DDT) proposals</b> are accepted at any time from astronomers affiliated with LCO's Science Collaboration institutions.
                 DDT proposals <b>should</b> be submitted through this portal. DDT proposals are reviewed by LCO's director. </li>
        </ul>
        <p>
            Please refer to the LCO website for more information on the <a href="https://lco.global/observatory/proposal/process/">time allocation process.</a>
        </p>
        <p>
            If you are composing a proposal for the LCO network for the first time, we recommend that you consult our <a href="https://lco.global/observatory/proposal/guidelines/">guidelines for writing proposals,</a> as well as the <a href="https://lco.global/files/User_Documentation/gettingstartedonthelconetwork.latest.pdf">"Getting Started" Guide.</a>
            Information about the <a href="http://lcogt.net/observatory/telescopes">telescopes</a>, <a href="http://lcogt.net/observatory/instruments">instruments</a>,
            <a href="http://lcogt.net/observatory/data">data handling and quality</a>, <a href="http://lcogt.net/observatory/scheduling">scheduling</a>
            and other technical aspects of the network is available on the <a href="http://lcogt.net/observatory/capabilities">observatory capabilities</a> pages.
        </p>

        <table class="table">
            <thead>
                <tr><td>Type</td><td>Semester</td><td>Eligibility</td><td>Deadline</td><td></td></tr>
            </thead>
            <tbody>
                {% for call in calls %}
                {% if call.proposal_type != 'COLAB'%}
                <tr>
                    <td>{{ call.get_proposal_type_display }}</td>
                    <td>{{ call.semester }}</td>
                    <td>{{ call.eligibility_short }}</td>
                    <td>{% if call.proposal_type == 'DDT' %} N/A {% else %}{{ call.deadline }}{% endif %}</td>
                    <td><a href="{% url 'sciapplications:create' call=call.id %}" class="btn btn-info">Apply</a></td>
                </tr>
                {% endif %}
                {% empty %}
                <tr><td colspan="5">No active calls at this time</td></tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.sciencecollaborationallocation %}
        <h1>{{ user.sciencecollaborationallocation.name }} Proposals</h1>
        <p>
            You are the admin of the {{ user.sciencecollaborationallocation.id }} collaboration group. Here you will be able to review,
            edit and submit proposals to LCO.
        </p>
        <table class="table">
            <thead>
                <tr>
                    <td>Semester</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all %}
                    <td>{{ alloc.telescope_name|title }}</td>
                    {% endfor %}
                    <td>Deadline</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for call in calls %}
                {% if call.proposal_type == 'COLAB'%}
                {% time_requested_by_sca user.sciencecollaborationallocation call.semester as time_requested %}
                <tr>
                    <td>{{ call.semester }}</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all %}
                    <td>{{ time_requested|get_from_dict:alloc.telescope_name }}/{{ alloc.allocation }}</td>
                    {% endfor %}
                    <td>{{ call.deadline }}</td>
                    <td><a href="{% url 'sciapplications:create' call=call.id %}" class="btn btn-info">Add Proposal</a></td>
                </tr>
                {% endif %}
                {% empty %}
                <tr><td colspan="5">No active calls at this time</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Draft Proposals</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>{% trans 'Title' %}</td>
                    <td>{% trans 'Rank' %}</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all %}
                    <td>{% trans alloc.telescope_name|title %}</td>
                    {% endfor %}
                    <td>{% trans 'Semester' %}</td>
                    <td>{% trans 'Deadline' %}</td>
                    <td>{% trans 'Status' %}</td>
                    <td>{% trans 'Preview' %}</td>
                    <td>{% trans 'Delete' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for app in draft_proposals %}
                {% if app.call.proposal_type == 'COLAB' %}
                <tr>
                    <td><a href="{% url 'sciapplications:update' pk=app.id %}">{{ app.title }}</a></td>
                    <td>{{ app.tac_rank }}</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all  %}
                    <td>{{ app.time_requested_by_telescope_name|get_from_dict:alloc.telescope_name }}</td>
                    {% endfor %}
                    <td>{{ app.call.semester }}</td>
                    <td>{{ app.call.deadline }}</td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a href="{% url 'sciapplications:detail' pk=app.id %}"><i class="fa fa-print"></i></a>
                        <a href="{% url 'sciapplications:pdf' pk=app.id %}"><i class="far fa-file-pdf"></i></a>
                    </td>
                    <td><a href="{% url 'sciapplications:delete' pk=app.id %}" class="fa fa-trash" title="Delete draft"></a></td>
                </tr>
                {% endif %}
                {% empty %}
                <tr><td colspan=5>{% trans 'You have not started any proposals.' %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Submitted Proposals</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>{% trans 'Title' %}</td>
                    <td>{% trans 'Rank' %}</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all %}
                    <td>{% trans alloc.telescope_name|title %}</td>
                    {% endfor %}
                    <td>{% trans 'Semester' %}</td>
                    <td>{% trans 'Deadline' %}</td>
                    <td>{% trans 'Status' %}</td>
                    <td>{% trans 'View' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for app in submitted_proposals %}
                {% if app.call.proposal_type == 'COLAB' %}
                <tr>
                    <td>{{ app.title }}</td>
                    <td>{{ app.tac_rank }}</td>

                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all  %}
                    <td>{{ app.time_requested_by_telescope_name|get_from_dict:alloc.telescope_name }}</td>
                    {% endfor %}
                    <td>{{ app.call.semester }}</td>
                    <td>{{ app.call.deadline }}</td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a href="{% url 'sciapplications:detail' pk=app.id %}"><i class="fa fa-print"></i></a>
                        <a href="{% url 'sciapplications:pdf' pk=app.id %}"><i class="far fa-file-pdf"></i></a>
                    </td>
                </tr>
                {% endif %}
                {% empty %}
                <td colspan="5">{% trans 'You have not submitted any proposals.' %}</td>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <h1>Your Proposals</h1>
        <p>
            Below is a list of your draft proposals and submitted proposals in LCO's database. Standard and Key Project proposals are reviewed by a
            <a href="https://lco.global/science/proposals/TAC/">Time Allocation Committee (TAC)</a> whose members are selected from the astronomical community and
            are not affiliated with LCO. Proposals recommended for scheduling by the TAC are awarded time by LCO's director.
            PIs are notified of a standard proposal's acceptance approximately 3 weeks before the start of the semester.
            Proposals for discretionary time are reviewed by LCO's director only. Notices of acceptance are issued as quickly as possible, but typically in less than one week.
        </p>
        <h4>Draft Proposals</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>{% trans 'Title' %}</td>
                    <td>{% trans 'Call' %}</td>
                    <td>{% trans 'Deadline' %}</td>
                    <td>{% trans 'Status' %}</td>
                    <td>{% trans 'Preview' %}</td>
                    <td>{% trans 'Delete' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for app in draft_proposals %}
                {% if app.call.proposal_type != 'COLAB' %}
                <tr>
                    <td><a href="{% url 'sciapplications:update' pk=app.id %}">{{ app.title }}</a></td>
                    <td>{{ app.call }}</td>
                    <td>{% if app.call.proposal_type == 'DDT' %} N/A {% else %}{{ app.call.deadline }}{% endif %}</td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a href="{% url 'sciapplications:detail' pk=app.id %}"><i class="fa fa-print"></i></a>
                        <a href="{% url 'sciapplications:pdf' pk=app.id %}"><i class="far fa-file-pdf"></i></a>
                    </td>
                    <td><a href="{% url 'sciapplications:delete' pk=app.id %}" class="fa fa-trash" title="Delete draft"></a></td>
                </tr>
                {% endif %}
                {% empty %}
                <tr><td colspan=5>{% trans 'You have not started any proposals.' %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Submitted Proposals</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>{% trans 'Title' %}</td>
                    <td>{% trans 'Call' %}</td>
                    <td>{% trans 'Deadline' %}</td>
                    <td>{% trans 'Status' %}</td>
                    <td>{% trans 'View' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for app in submitted_proposals %}
                {% if app.call.proposal_type != 'COLAB' %}
                <tr>
                    <td>{{ app.title }}</td>
                    <td>{{ app.call }}</td>
                    <td>{% if app.call.proposal_type == 'DDT' %} N/A {% else %}{{ app.call.deadline }}{% endif %}</td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a href="{% url 'sciapplications:detail' pk=app.id %}"><i class="fa fa-print"></i></a>
                        <a href="{% url 'sciapplications:pdf' pk=app.id %}"><i class="far fa-file-pdf"></i></a>
                    </td>
                </tr>
                {% endif %}
                {% empty %}
                <td colspan="5">{% trans 'You have not submitted any proposals.' %}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
