{% extends 'base.html' %}
{% load i18n sciapp_extras %}
{% block title %}{% trans 'Submit Proposal' %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Active Calls for Proposals</h1>

        <table class="table">
            <thead>
                <tr><td>Type</td><td>Semester</td><td>Eligibility</td><td>Deadline</td><td></td></tr>
            </thead>
            <tbody>
                {% for call in calls %}
                {% if call.proposal_type != 'COLAB'%}
                <tr>
                    <td>{{ call.get_proposal_type_display }}</td>
                    <td>{{ call.semester }}</td>
                    <td>{{ call.eligibility_short }}</td>
                    <td>{% if call.proposal_type == 'DDT' %} N/A {% else %}{{ call.deadline }}{% endif %}</td>
                    <td><a href="{% url 'sciapplications:create' call=call.id %}" class="btn btn-primary">Apply</a></td>
                </tr>
                {% endif %}
                {% empty %}
                <tr><td colspan="5">No active calls at this time</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <p>For information about submitting proposals, including definitions of terms and timescales, please see our web pages on <a href="https://lco.global/observatory/process/">Time Allocation Process</a>.</p>
        {% if user.sciencecollaborationallocation %}
        <h1>{{ user.sciencecollaborationallocation.name }} Proposals</h1>
        <p>
            You are the admin of the {{ user.sciencecollaborationallocation.id }} collaboration group. Here you will be able to review,
            edit and submit proposals to LCO.
        </p>
        <table class="table">
            <thead>
                <tr>
                    <td>Semester</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all %}
                    <td>{{ alloc.telescope_name|raw_telescope_name }}</td>
                    {% endfor %}
                    <td>Deadline</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for call in calls %}
                {% if call.proposal_type == 'COLAB'%}
                {% time_requested_by_sca user.sciencecollaborationallocation call.semester as time_requested %}
                <tr>
                    <td>{{ call.semester }}</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all %}
                    <td>{{ time_requested|get_from_dict:alloc.telescope_name }}/{{ alloc.allocation }}</td>
                    {% endfor %}
                    <td>{{ call.deadline }}</td>
                    <td><a href="{% url 'sciapplications:create' call=call.id %}" class="btn btn-primary">Add Proposal</a></td>
                </tr>
                {% endif %}
                {% empty %}
                <tr><td colspan="5">No active calls at this time</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Draft Proposals</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>{% trans 'Title' %}</td>
                    <td>{% trans 'Rank' %}</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all %}
                    <td>{% trans alloc.telescope_name|raw_telescope_name %}</td>
                    {% endfor %}
                    <td>{% trans 'Semester' %}</td>
                    <td>{% trans 'Deadline' %}</td>
                    <td>{% trans 'Status' %}</td>
                    <td>{% trans 'Preview' %}</td>
                    <td>{% trans 'Delete' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for app in draft_proposals %}
                {% if app.call.proposal_type == 'COLAB' %}
                <tr>
                    <td><a href="{% url 'sciapplications:update' pk=app.id %}">{{ app.title }}</a></td>
                    <td>{{ app.tac_rank }}</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all  %}
                    <td>{{ app.time_requested_by_telescope_name|get_from_dict:alloc.telescope_name }}</td>
                    {% endfor %}
                    <td>{{ app.call.semester }}</td>
                    <td>{{ app.call.deadline }}</td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a href="{% url 'sciapplications:detail' pk=app.id %}"><i class="fa fa-print"></i></a>
                        <a href="{% url 'sciapplications:pdf' pk=app.id %}"><i class="far fa-file-pdf"></i></a>
                    </td>
                    <td><a href="{% url 'sciapplications:delete' pk=app.id %}" class="fa fa-trash" title="Delete draft"></a></td>
                </tr>
                {% endif %}
                {% empty %}
                <tr><td colspan=5>{% trans 'You have not started any proposals.' %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Submitted Proposals</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>{% trans 'Title' %}</td>
                    <td>{% trans 'Rank' %}</td>
                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all %}
                    <td>{% trans alloc.telescope_name|raw_telescope_name %}</td>
                    {% endfor %}
                    <td>{% trans 'Semester' %}</td>
                    <td>{% trans 'Deadline' %}</td>
                    <td>{% trans 'Status' %}</td>
                    <td>{% trans 'View' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for app in submitted_proposals %}
                {% if app.call.proposal_type == 'COLAB' %}
                <tr>
                    <td>{{ app.title }}</td>
                    <td>{{ app.tac_rank }}</td>

                    {% for alloc in user.sciencecollaborationallocation.collaborationallocation_set.all  %}
                    <td>{{ app.time_requested_by_telescope_name|get_from_dict:alloc.telescope_name }}</td>
                    {% endfor %}
                    <td>{{ app.call.semester }}</td>
                    <td>{{ app.call.deadline }}</td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a href="{% url 'sciapplications:detail' pk=app.id %}"><i class="fa fa-print"></i></a>
                        <a href="{% url 'sciapplications:pdf' pk=app.id %}"><i class="far fa-file-pdf"></i></a>
                    </td>
                </tr>
                {% endif %}
                {% empty %}
                <td colspan="5">{% trans 'You have not submitted any proposals.' %}</td>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <h1>Your Proposals</h1>
        <h4>Draft Proposals</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>{% trans 'Title' %}</td>
                    <td>{% trans 'Call' %}</td>
                    <td>{% trans 'Deadline' %}</td>
                    <td>{% trans 'Status' %}</td>
                    <td>{% trans 'Preview' %}</td>
                    <td>{% trans 'Delete' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for app in draft_proposals %}
                {% if app.call.proposal_type != 'COLAB' %}
                <tr>
                    <td><a href="{% url 'sciapplications:update' pk=app.id %}">{{ app.title }}</a></td>
                    <td>{{ app.call }}</td>
                    <td>{% if app.call.proposal_type == 'DDT' %} N/A {% else %}{{ app.call.deadline }}{% endif %}</td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a href="{% url 'sciapplications:detail' pk=app.id %}"><i class="fa fa-print"></i></a>
                        <a href="{% url 'sciapplications:pdf' pk=app.id %}"><i class="far fa-file-pdf"></i></a>
                    </td>
                    <td><a href="{% url 'sciapplications:delete' pk=app.id %}" class="fa fa-trash" title="Delete draft"></a></td>
                </tr>
                {% endif %}
                {% empty %}
                <tr><td colspan=5>{% trans 'You have not started any proposals.' %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Submitted Proposals</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>{% trans 'Title' %}</td>
                    <td>{% trans 'Call' %}</td>
                    <td>{% trans 'Deadline' %}</td>
                    <td>{% trans 'Status' %}</td>
                    <td>{% trans 'View' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for app in submitted_proposals %}
                {% if app.call.proposal_type != 'COLAB' %}
                <tr>
                    <td>{{ app.title }}</td>
                    <td>{{ app.call }}</td>
                    <td>{% if app.call.proposal_type == 'DDT' %} N/A {% else %}{{ app.call.deadline }}{% endif %}</td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a href="{% url 'sciapplications:detail' pk=app.id %}"><i class="fa fa-print"></i></a>
                        <a href="{% url 'sciapplications:pdf' pk=app.id %}"><i class="far fa-file-pdf"></i></a>
                    </td>
                </tr>
                {% endif %}
                {% empty %}
                <td colspan="5">{% trans 'You have not submitted any proposals.' %}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
