{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Accept Terms{% endblock %}
{% block content %}
<form method="POST" action="{% url 'accept-terms' %}">
  {% csrf_token %}
  <h1>Terms of Service</h1>
  <ul>
    <li>
      I agree for my name, institution and email address to be stored by LCO. I understand LCO will take all reasonable measures
      to secure this data. I understand I may withdraw consent at any time by contacting LCO, at which time my account and
      all personal data will be deleted.
    </li>
    <li>
      For those proposals on which I am a Co-Investigator (Co-I), I agree to the sharing of my name, institution and email
      address with the Principal Investigator (PI) for that proposal.
    </li>
    <li>
      For those proposals on which I am a Co-I or PI, I agree to the sharing of my name and institution with the
      Time Allocation Committee (TAC), which evaluates proposals and awards observing time.
    </li>
    <li>
      For those proposals on which I am the PI, I agree to share my name and email address with the Co-Is for that proposal.
    </li>
    <li>
      I acknowledge that as PI, I will have access to Co-I information and agree to use it in a way which is acceptable
      to Co-Is and that is compliant with the law.
    </li>
  </ul>
  {% bootstrap_field form.accept %}
  {% buttons submit="Proceed" %}{% endbuttons %}
</form>
{% endblock %}
