html {
  position: relative;
  min-height: 100%;
}

p {
  margin:0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.2em 0;
}

a {
  color: #009ec3;
  text-decoration: none;
}

a:hover {
  background-color: #ffcd05;
  text-decoration: none;
}

a.navbar-brand:hover {
  background-color: rgba(0, 0, 0, 0);
}

.small {
  font-size:75%;
}

.navbar-bg .navbar-nav .nav-link {
  color: #fff;
}

.navbar-bg {
  background-color: #0b3053;
}

.navbar-bg a{
  color:#fff;
}

.navbar-bg a:hover{
  color:#000000;
}

.navbar-bg a.dropdown-item {
  color:black;
}

.navbar-bg a.dropdown-item:hover {
  color:black;
}

.nav-row {
  display: flex!important;
}

#lco-name {
  font-family: 'Heebo', sans-serif;
  font-size: 1.5em;
  color: #fff;
}

.grey {
  color: #333;
}

#lco-name > .basic {
  font-size: 15px;
  color: green;
  font-weight: 600;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: inherit;
}

.progress-bar {
  background-color: #009ec3;
  font-family: sans-serif;
}

.nav-tabs > li > a {
  cursor: pointer;
}

.downPage .nav>li>a:hover {
  color: inherit;
}

.btn-xs {
  padding: 2px 4px;
}

.caret {
  display: inline-block;
}

.noauth {
  line-height: 1.4em;
}

.noauth li {
  height: 75px;
}

.noauth span {
  vertical-align: middle;
  padding-top: 5px;
}

.empty-requests {
  margin-top: 50px;
}

.sidebar-nav {
  font-size: 1.3em;
}

.sidebar-nav li {
  height: 50px;
}

.thumbnail {
  margin-bottom: 0;
}

.thumnail-small {
  max-height: 75px;
}

.downPage ul.nav {
  width: auto;
}

.navbar-main {
  padding-top: 20px;
  width: 80% !important;
}

.navbar-right {
  padding-top: 20px;
  width: auto;
}

.head.downPage .headNav {
  font-size: 1.2em;
  width: 75%;
}

.head {
  box-shadow: none;
}

.head .headNav a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn {
  line-height: 1.42857143;
  text-transform: none;
  font-size: 14px;
}

.btn.btn-primary {
  background-color: #00adef;
  border-color: #00adef;
  color: white;
}

.btn.btn-danger {
  background-color: #f04e23;
  border-color: #f04e23;
  color: white;
}

.intro {
  max-height: 10px;
}

.requestgroup {
  border: 1px solid #eff0ec;
  min-height: 75px;
  margin: 0;

}

.requestgroup-title {
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 4px;
}

.requestgroup-success {
  background: linear-gradient(to right, #3c763d 0, #3c763d 10px, #fff 10px, #fff 100%) no-repeat;
}

.requestgroup-neutral {
  background: linear-gradient(to right, #8a6d3b 0, #8a6d3b 10px, #fff 10px, #fff 100%) no-repeat;
}

.text-neutral {
  color: #8a6d3b;
}

.requestgroup-danger {
  background: linear-gradient(to right, #a94442 0, #a94442 10px, #fff 10px, #fff 100%) no-repeat;
}

.requestgroup-info {
  background: linear-gradient(to right, #31708f 0, #31708f 10px, #fff 10px, #fff 100%) no-repeat;
}

.requestgroup-block > p {
  margin: 0px;
  padding-bottom:0px;
}

.requestgroup-block.border-right {
  border-right: 1px solid #eff0ec;
}

.request-block {
  border: 1px solid #fff;
  min-height: 75px;
  background-color: #eee;
}

.request-id {
  margin-left: -5px;
}

.request-icon {
  margin-left: 5px;
  margin-top: 10px;
}

.request-count {
  font-size: 1.9em;
  margin-top: 25px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-additional {
  padding-top: 20px;
  font-size: 1.5em;
}

.no-requests {
  font-size: 1.5em;
}

.no-requests > p {
  margin-top: 20px;
}

.child-requests {
  line-height: 0.9;
  margin-bottom: 0;
}

.request-detail {
  border-left: 1px solid #eff0ec;
  border-right: 1px solid #eff0ec;
}

.request-show {
  border: 1px solid #eff0ec;
  border-top: 0 solid #eff0ec;
}

.request-show:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.request-show p {
  margin: 0;
}

.spacer {
  margin-bottom: 10px;
}

.compose-help {
  font-size: 0.9em;
}

#tabs > ul {
  border-bottom: 0;
}

.duration {
  text-align: right;
  margin-bottom: 10px;
}

.collapse-inline {
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.request-margin {
  height: 40px;
}

.bg-grey {
  background-color: #f9f9f9;
}

.help-list > li {
  height: 30px;
}

.pagination > li > a {
  color: #009cc3;
}

.pagination > .active > a {
  background-color: #009cc3;
}

.pagination > .active > a:hover {
  background-color: #009cc3;
}

.navbar-light .navbar-nav .nav-link {
  color: #009ec3;
}

.card-column-two {
  column-count: 2;
}

.no-top-border > tr > td {
  border-top: none;
}

.button-header {
  padding: 0 !important;
}


.btn-outline-secondary {
  border-color: #bababa;
  color: #000;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0 70px;
  }

  .container.navbar-bg {
    padding: 0 20px;
  }
}

@media (max-width: 991.98px) {
  #lco-name {
    display: none;
  }

  .navbar-brand img {
    width: 50%;
  }
}

@media screen and (max-width: 1215px) {
  .navbar-brand img {
    max-height: 2em;
  }
}

@media screen and (min-width:768px) {
  .container > .navbar-header {
    height: 120px;
  }
}
