.vis-line-graph text{
	display: none;
	pointer-events: none;
}

.vis-point {
	pointer-events: all;
}

.vis-item.vis-range{
	border-radius: 0px;
}

div.vis-tooltip{
    word-wrap: break-word;
    max-width: 80em;
    white-space: normal;
}

.AVAILABLE {
	background-color: deepskyblue;
	border-color: deepskyblue;
}

.OFFLINE {
	background-color: orange;
	border-color: orange;
}

.NOT_OK_TO_OPEN {
	background-color: purple;
	border-color: purple;
}

.SITE_AGENT_UNRESPONSIVE {
	background-color: black;
	border-color: black;
}

.SEQUENCER_DISABLED {
	background-color: orange;
	border-color: orange;
}

.ENCLOSURE_INTERLOCK {
	background-color: purple;
	border-color: purple;
}

.SEQUENCER_UNAVAILABLE {
	background-color: purple;
	border-color: purple;
}

.SCHEDULED {
    background-color: #c8dac2;
    border-color: #658e57;
}

.NOT_ATTEMPTED {
    background-color: olive;
    border-color: darkolivegreen;
}

.CANCELED {
    background-color: grey;
    border-color: darkgrey;
}

.IN_PROGRESS {
    background-color: lightgreen;
    border-color: green;
}

.COMPLETED {
    color: white;
    background-color: green;
    border-color: darkgreen;
}

.PARTIALLY-COMPLETED {
    background-color: yellow;
    border-color: goldenrod;
}

.FAILED {
    background-color: red;
    border-color: maroon;
}

.ABORTED {
    background-color: orange;
    border-color: darkorange;
}

.NO_CONNECTION {
    background-color: black;
    border-color: darkgrey;
}


.legend-item {
    width: 18px;
    height: 12px;
    display: inline-block;
}

.panel-default>.panel-heading:hover{
	background-color: #dcdcdc;
	border-color: #cfcfcf;
}

.panel-success>.panel-heading:hover{
	background-color: #c1e2b3;
	border-color: #b2dba1;
}

.panel-warning>.panel-heading:hover{
	background-color: #f7ecb5;
	border-color: #f5e79e;
}

.plot_controls {
    position: absolute;
    right: 0;
    margin-right: 22px;
    margin-top: 4px;
    z-index: 9999;
}

.clickable-thumbnail {
	display:block;
	width: 100%;
	height: 100%;
}

.clickable-thumbnail:visited, .clickable-thumbnail:link{
	text-decoration: none;
	color: lightgrey;
}

.clickable-thumbnail:hover{
	color:white;
}

.width180 {
	width: 180px;
	font-size: 21px;
}

.width120 {
	width: 120px;
	font-size: 21px;
}
