#filter > .form-group {
    margin-bottom: 5px;
}

.pagination {
    padding-left: 15px;
}

.title {
    font-size: 1.6em;
}

.requestgroup p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin:0px;
    font-size:90%;
}
