{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
<link href="{% static 'css/fluid_page.css' %}" rel="stylesheet"> 
{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
  <div class="col-md-10 table-responsive">
    {% if paginator.num_pages > 1 %}
    <span class="float-left">
      {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    </span>
    {% endif %}
    {% with last_update=filter.qs.first.modified %}
    <span class="float-right text-right">
        {{ page_obj.paginator.count }} observations<br/>
        Last Update: <strong>{{ last_update }}</strong>
    </span>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Site</th>
          <th>Enc.</th>
          <th>Tel.</th>
          <th>Start</th>
          <th>End</th>
          <th>Req.ID</th>
          <th>Proposal</th>
          <th>Instruments</th>
          <th>Modified</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody class="border-bottom">
        {% for obs in object_list %}
        {% if obs.state == 'COMPLETED' %}
        <tr class="table-success">
        {% elif obs.state == 'CANCELED' %}
        <tr class="table-secondary">
        {% elif obs.state == 'FAILED' or obs.state == 'ABORTED' %}
        <tr class="table-danger">
        {% elif obs.state == 'IN_PROGRESS'%}
        <tr class="table-warning">
        {% else %}
        <tr class="table-default">
        {% endif %}
          <td><a href="{% url 'observations:observation-detail' pk=obs.id %}" title="Observation detail">{{ obs.id }}</a></td>
          <td>{{ obs.site }}</td>
          <td>{{ obs.enclosure }}</td>
          <td>{{ obs.telescope }}</td>
          <td>{{ obs.start }}</td>
          <td>{{ obs.end }}</td>
          <td><a href="{% url 'requestgroups:request-detail' pk=obs.request.id %}" title="Request detail">{{ obs.request.id }}</a></td>
          <td>{{ obs.request.request_group.proposal.id }}</td>
          <td>{% for inst in obs.instrument_types %}{{ inst }}<br/>{% endfor %}</td>
          <td>{{ obs.modified }}</td>
          <td>{{ obs.created }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if paginator.num_pages > 1 %}
    <span class="float-left">
      {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    </span>
    {% endif %}
    <span class="float-right text-right">
      Last Update: <strong>{{ last_update }}</strong><br/>
      {{ page_obj.paginator.count }} observations
    </span>
    {% endwith %}
  </div>
  <div class="col-md-2">
    <form class="form" method="GET" action="{% url 'observations:observation-list' %}">
    {% buttons submit="Filter" reset="Reset" %}{% endbuttons %}
    {% bootstrap_form filter.form exclude="end_after,end_before" %}
    {% buttons submit="Filter" reset="Reset" %}{% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
