<!doctype html>
{% load static bootstrap4 %}
{% load render_bundle from webpack_loader %}
{% bootstrap_css %}
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LCO Observation Portal | {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="https://cdn.lco.global/mainstyle/img/favicon.png">
    <link rel="shortcut icon" type="image/png" href="https://cdn.lco.global/mainstyle/img/favicon-trans.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href='https://cdn.lco.global/mainstyle/css/affogato-1.0.0.css' rel="stylesheet">
    <link href='https://cdn.lco.global/mainstyle/css/lco-1.0.0.css' rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">   
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light head downPage">
      <div class="navbar-header branding branding-logo">
        <a href="https://lco.global" title="LCO.global" rel="home"><img src="https://cdn.lco.global/mainstyle/img/LCO-logo-web.jpg" alt="Las Cumbres Observatory" /></a>
      </div>
      <div class="navbar-header branding pl-md-3">
        <div id="lco-name">
          <a href="/" class="grey">Observing <br/> Portal</a> {% if user.profile.simple_interface %}<span class="basic">basic mode</span>{% endif %}
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOptions" aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse headNav" id="navbarOptions">
        <ul class="nav navbar-nav navbar-main ml-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'requestgroups:list' %}">Home</a>
          <li class="nav-item"><a class="nav-link" href="{% url 'requestgroups:create' %}">Submit Observation</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'proposals:list' %}?active=True">Manage Proposals</a></li>
          <li class="nav-item"><a class="nav-link" href="https://lco.global/observatory/tools/">Planning Tools</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li class="dropdown nav-item">
              <a class="dropdown-toggle nav-link" id="userNavOptions" data-toggle="dropdown" href="#">{{ user.username }}</a>
              <div class="dropdown-menu" aria-labelledby="userNavOptions">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'auth_logout' %}">Logout</a>
              </div>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <section>
      <div class="intro downPage blue">
      &nbsp;
      </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="messages">
                    {% bootstrap_messages %}
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
      Copyright © {% now "Y" %} Las Cumbres Observatory. All rights reserved. <br/>
      <a href="https://lco.global/privacy-policy/">Privacy Policy</a>&nbsp;&nbsp;&nbsp;
      <a href="https://github.com/LCOGT/observation-portal"><i class="fab fa-github"></i> View on Github</a>
    </div>
  </body>
  {% block javascript %}
  {% render_bundle 'global' %}
  {% render_bundle 'vendor' %}
  {% endblock %}
  {% block extra_javascript %}
  {% endblock %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-2087713-6', 'auto');
    ga('send', 'pageview');
  </script>
</html>
