{% extends 'base.html' %}
{% block title %}Help{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Help</h1>
        <p>The Observation Portal is your access point to Las Cumbres Observatory's global network of telescopes.</p>
        <p>Registered users can:</p>
        <ul class="list-unstyled help-list">
            <li><i class="fa fa-users fa-fw" aria-hidden="true"></i>
                <span><a href="{% url 'sciapplications:index' %}">Write and submit proposals</a> and manage the membership of their research teams.</span>
            </li>
            <li><i class="fab fa-wpexplorer fa-fw" aria-hidden="true"></i>
                <span><a href="{% url 'requestgroups:create' %}">Plan, compose, and submit observation requests</a> for approved proposals.</span>
            </li>
            <li><i class="fa fa-check fa-fw" aria-hidden="true"></i>
                <span><a href="{% url 'requestgroups:list' %}">Track the status</a> of submitted requests.</span>
            </li>
            <li><i class="fas fa-cloud-download-alt fa-fw" aria-hidden="true"></i>
                <span>Identify and <a href="{% url 'requestgroups:list' %}">download data from completed observations.</a></span>
            </li>
            <li><i class="far fa-clock fa-fw" aria-hidden="true"></i>
                <span><a href="{% url 'proposals:list' %}">Monitor the hours used by approved proposals.</a></span>
            </li>
            <li><i class="fa fa-question fa-fw" aria-hidden="true"></i>
                <span><a href="mailto:science-support@lco.global">Report problems, ask questions, and make suggestions.</a></span>
            </li>
        </ul>

        <p>If you are a new user of this Observation Portal, we strongly recommend that you read the <a href="https://lco.global/documents/713/GettingStartedontheLCONetwork.latest.pdf">"Getting Started on the LCO Global Telescope Network" Guide.</a>
        </p>
        <p>If you are a new user of the LCO network, information about the <a href="https://lco.global/observatory/telescopes">telescopes</a>,
           <a href="https://lco.global/observatory/instruments">instruments</a>, <a href="//lco.global/observatory/data">data handling and quality</a>,
           <a href="https://lco.global/observatory/scheduling">scheduling</a> and other technical aspects of the network is available on the
           <a href="https://lco.global/observatory/">observatory</a> pages.
        </p>
        <p>
          For citing Las Cumbres Observatory please review
          <a title="data use" href="//lco.global/observatory/acknowledgments/">Data Use and Acknowledgements</a>.
        </p>
        <h3>Minimum Requirements</h3>
        <p>
          The following are the minimum versions of browsers required to use the observation portal. All other
          browsers/versions are supported on a best-effort basis.
        </p>
        <ul class="list-unstyled">
          <li>Google Chrome/Chromium:<strong>56+</strong></li>
          <li>Mozilla Firefox: <strong>46+</strong></li>
          <li>Apple Safari: <strong>11.1+</strong>
          <li>Microsoft Edge: <strong>17+</strong></li>
          <li>Internet Explorer: <strong>10+</strong> (minimal support)</li>
        </ul>
        <p>
            If you require additional support, you may contact science support at <a href="mailto:science-support@lco.global">science-support@lco.global</a>.
            For inquiries about particular observation requests, please include the tracking and request numbers in your email.
        </p>
        <a href="mailto:science-support@lco.global" class="btn btn-outline-secondary">Email Science Support</a>
    </div>
</div>
{% endblock %}
