{% extends 'base.html' %}
{% load static i18n bootstrap4 %}
{% load render_bundle from webpack_loader %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
    {% if not user.is_authenticated and page_obj.number < 2 %}
    <div class="jumbotron noauth">
        <h1>Observation Portal</h1>
        <p>This is your access point to Las Cumbres Observatory's global network of telescopes. Registered users can:</p>
        <ul class="list-unstyled">
            <li><i class="fa fa-users fa-3x fa-pull-left" aria-hidden="true"></i>
                <span>Submit proposals and manage the membership of their research teams.</span>
            </li>
            <li><i class="fab fa-wpexplorer fa-3x fa-pull-left" aria-hidden="true"></i>
                <span>Compose, save, and submit observation requests.</span>
            </li>
            <li><i class="fa fa-cloud-download-alt fa-3x fa-pull-left" aria-hidden="true"></i>
                <span>Check the status of submitted requests, and download data from completed observations.</span>
            </li>
        </ul>
        <a href="{% url 'registration_register' %}" class="btn btn-lg btn-success col-md-5">Register an Account</a>
        <a href="{% url 'auth_login' %}" class="btn btn-lg btn-info float-right col-md-5 col-md-offset-2">Login</a>
        <br/>
    </div>
    {% endif %}
    {% block request_list %}
    {% endblock %}
    </div>
    <div class="col-md-4">

              <div class="btn-group-vertical btn-group-lg">
                <a href="{% url 'requestgroups:create' %}" class="btn btn-outline-primary"><i class="fab fa-wpexplorer"></i> Submit Observation</a>
                <a href="{% url 'proposals:list' %}?active=True" class="btn btn-outline-primary"><i class="fa fa-users fa-fw"></i> Manage Proposals</a>
                <a href="{% url 'help' %}" class="btn btn-outline-primary"><i class="fas fa-info-circle"></i> Help</a>
              </div>

        <h4 >Telescope availability history
          <sup class="blue"><a
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="{% blocktrans %}
                  This chart shows the percent of operational
                  science time for each telescope over the last 4 days."
                  {% endblocktrans %}>
            ?</a></sup>
        </h4>
        <div id="telescope_availability_chart"></div>
        <p><small><a href="https://lco.global/observatory/status/">Detailed Observatory Status</a></small></p>

        {% if user.is_authenticated %}

        <h4>Active Proposals</h4>
        {% for proposal in user.profile.current_proposals %}
        <p><a href="{% url 'proposals:detail' pk=proposal.id %}">{{ proposal }}</a>
        <br/>
        <small>{{ proposal.title }}</small>
        </p>
        {% empty %}
        <p>{% trans 'You have no current proposals' %}</p>
        <p>
            <a href="{% url 'sciapplications:index' %}">
            {% trans 'Submit a proposal' %}
            </a>
        </p>
        {% endfor %}

        {% endif %}
    </div>
</div>
<script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}
