{% extends 'base.html' %}
{% load i18n bootstrap4 proposal_extras %}
{% block title %}{{ object.id }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h3>{{ object }} <small>{{ object.title }}</small></h3>
        <p>{{ object.abstract }}</p>
        <h4>Total Observation Requests:
            <a title="View requests" href="{% url 'requestgroups:list' %}?proposal={{ object.id }}">{{ object.requestgroup_set.all.count }}</a>
        </h4>
        <h4>
          Principal Investigator: {{ object.pi.first_name }} {{ object.pi.last_name }}
          <a href="mailto:{{ object.pi.email }}">{{ object.pi.email }}</a>
        </h4>
        {% if user == object.pi %}
        <h4>Co Investigators <small><i id="toggleci" class="fa fa-eye"></i></small></h4>
        <div id="cilist">
          {% if members_are_paginated %}
          <form method="get" role="form" action="">
            <div class="form-row">
              <div class="col mb-0 mt-auto">{% bootstrap_field members_filter.form.first_name form_group_class="form-group mb-0 mt-auto" %}</div>
              <div class="col mb-0 mt-auto">{% bootstrap_field members_filter.form.last_name form_group_class="form-group mb-0 mt-auto" %}</div>
              <div class="col mb-0 mt-auto">{% bootstrap_field members_filter.form.username form_group_class="form-group mb-0 mt-auto" %}</div>
              <div class="col mb-0 mt-auto">{% bootstrap_field members_filter.form.email form_group_class="form-group mb-0 mt-auto" %}</div>
              <div class="col-1 mb-0 mt-auto">{% bootstrap_button button_type="submit" content="Filter" button_class="btn-outline-secondary" %}</div>
            </div>
          </form>
          <br/>
          {% endif %}
        <table class="table table-responsive">
          <thead>
            <tr><th>First Name</th><th>Last Name</th><th>UserId</th><th>Email</th><th>Hour Limit</th><th>Hours Requested</th>
              {% if object.public %}
              <th>Simple Interface</th>
              {% endif %}
              {% if user == object.pi %}
              <th>Remove</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
          {% for mem in members_page %}
          {% if mem.role != 'PI' %}
            <tr>
              <td>{{ mem.user.first_name }}</td>
              <td>{{ mem.user.last_name }}</td>
              <td>{{ mem.user.username }}</td>
              <td><a href="mailto:{{ mem.user.email }}">{{ mem.user.email }}</a></td>
              <td>
                {% if mem.time_limit < 0 %}No Limit{% else %}{{ mem.time_limit_hours | floatformat:3 }}{% endif %}
                {% if user == object.pi %}
                <a href="#" class="memlimit"><i class="fas fa-edit" data-membership="{{ mem.id }}"></i></a>
                <form method="POST" action="{% url 'proposals:membership-limit' pk=mem.id %}" class="form-inline limitform" style="display: none">
                    {% csrf_token %}
                    <div class="form-group mr-md-2 mb-md-1">
                        <input name="time_limit" type="number" min="-1" class="form-control" style="width: 90px" step="0.01"
                         {% if mem.time_limit > 0 %} value="{{ mem.time_limit_hours | floatformat:3 }}" {% endif %} />
                    </div>
                    <button type="submit" class="btn btn-outline-secondary remove-limit mr-md-2">Remove Limit</button>
                    <button type="submit" class="btn btn-outline-secondary">Set Limit</button>
                </form>
                {% endif %}
              </td>
              {% time_used_by_user mem.user proposal as time_used %}
              <td>{{ time_used | floatformat:3 }}</td>
              {% if object.public %}
              <td>{% if mem.user.profile.simple_interface %}<i class="fa fa-check"></i>{% endif %}</td>
              {% endif %}
              {% if user == object.pi %}
              <td><a href="{% url 'proposals:membership-delete' mem.id %}"><i class="fa fa-trash"></i></a></td>
              {% endif %}
            </tr>
          {% endif %}
          {% endfor %}
          </tbody>
        </table>
        {% if members_are_paginated %}
        <div class="row">
          <div class="col">
            <span class="float-left"> {% bootstrap_pagination members_page size="small" parameter_name="ci_page" extra=request.GET.urlencode %}</span>
            <span class="float-right">{{ members_page.paginator.count }} Co Investigators</span>
          </div>
        </div>
        {% endif %}
        <br/>
        </div>
        {% endif %}
        <h4>Time Allocation</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Semester</th>
                    <th>Telescope Class</th>
                    <th>Hours</th>
                    <th>Used/Allocated</th>
                </tr>
            </thead>
            <tbody>
                {% regroup object.timeallocation_set.all by semester as timeallocations %}
                {% for ta in timeallocations %}
                    <tr class="bg-info">
                        <td colspan="4">{{ ta.grouper }}</td>
                    </tr>
                    {% for ta in ta.list %}
                        <tr class="bg-grey">
                            <td></td>
                            <td>{{ ta.instrument_type }}</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>Standard</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progress-bar" style="min-width: 3em; width:{% widthratio ta.std_time_used ta.std_allocation 100 %}%">
                                        {{ ta.std_time_used|floatformat}}/{{ ta.std_allocation }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                          <td colspan="2"></td>
                          <td>Time Critical</td>
                          <td>
                              <div class="progress">
                                  <div class="progress-bar" role="progress-bar" style="min-width: 3em; width:{% widthratio ta.tc_time_used ta.tc_allocation 100 %}%">
                                      {{ ta.tc_time_used|floatformat}}/{{ ta.tc_allocation }}
                                  </div>
                              </div>
                          </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>Rapid Response</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progress-bar" style="min-width: 3em; width:{% widthratio ta.rr_time_used ta.rr_allocation 100 %}%">
                                        {{ ta.rr_time_used|floatformat}}/{{ ta.rr_allocation }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>IPP</td>
                            <td>
                                Available: {{ ta.ipp_time_available|floatformat }} Limit: {{ ta.ipp_limit }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <strong>Email Notifications</strong>
        <div class="help-block">
          You will recieve notifications whenever a requested observation on this proposal is completed.
        </div>
        <form method="POST" action="" class="form">
            {% csrf_token %}
            {% bootstrap_form form=notification_form %}
            <button type="submit" class="btn btn-outline-secondary">Save</button>
        </form>
        <br/>
        <dl>
          <dt>Links</dt>
          <dd><a href="https://archive.lco.global/?PROPID={{ object.id }}" target="_blank">View Data on the LCO Science Archive</a></dd>
        </dl>
        {% if user == object.pi %}
        <strong>Global Hour Limit</strong>
        <div class="help-block">
          {% blocktrans %}
          Use this form to set an hour limit for every Co-I on the proposal.
          {% endblocktrans %}
        </div>
        <form method="POST" action="{% url 'proposals:membership-global' pk=object.id %}" class="form-inline">
          {% csrf_token %}
          <div class="form-group mr-md-2">
            <input name="time_limit" type="number" class="form-control" style="width: 90px" min="-1" step="0.01" placeholder="Hours"/>
          </div>
          <button type="submit" class="btn btn-outline-secondary remove-limit mr-md-2">Remove Limit</button>
          <button type="submit" class="btn btn-outline-secondary">Set Global Limit</button>
        </form>
        <br/>
        <strong>Invite Co-Investigators</strong>
        <div class="help-block">
            {% blocktrans %}
            Invite co-investigators by entering their email address below and
            pressing "add". If you would like to add multiple address at once, enter them below,
            comma separated. If the user is already registered with LCO, they will be added to
            this proposal. If not, they will be invited.
            {% endblocktrans %}
        </div>
        <form method="POST" action="{% url 'proposals:invite' pk=object.id %}" class="form-inline">
            {% csrf_token %}
            <div class="form-group mr-md-2">
                <label class="sr-only" for="email">Invite a Co-Investigator</label>
                <input name="email" class="form-control" placeholder="Email Address(s)"/>
            </div>
            <button type="submit" class="btn btn-outline-secondary">Add</button>
        </form>
        <br/>
        <dl>
            <dt>{% trans 'Pending Invitations' %}</dt>
            {% for invite in object.proposalinvite_set.all %}
            {% if not invite.used %}
            <dd><a href="mailto:{{ invite.email }}">{{ invite.email }}</a></dd>
            <dd>Invited: {{ invite.sent }}</dd>
            <dd><a href="{% url 'proposals:proposalinvite-delete' invite.id %}">Delete</a></dd>
            {% endif %}
            {% empty %}
            <p>No pending invitations.</p>
            {% endfor %}
        </dl>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
    $('#toggleci').click(function(){
        $(this).toggleClass('fa-eye-slash');
        $('#cilist').toggle();
    });
    $('[data-toggle="tooltip"]').tooltip();

    $('.remove-limit').click(function(){
      $(this).parent().find('input[name="time_limit"]').val('-1');
    });

    $('.memlimit').click(function(event){
      event.preventDefault();
      $('.limitform').hide();
      $(this).next().first().show();
    })

</script>
{% endblock %}
