{% extends 'base.html' %}
{% load static bootstrap4 %}
{% load render_bundle from webpack_loader %}
{% block title %} Request Group Detail {% endblock %}
{% block content %}
{% include 'requestgroups/partials/requestgroup_header.html' with requestgroup=requestgroup %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb bg-light">
      <li href="#" class="active">Sub-requests</li>
    </ol>
  </div>
</div>
{% for request in requests %}
<section class="request-list">
  {% include 'requestgroups/partials/request_row.html' with request=request link=True %}
</section>
{% endfor %}
{% if requests.paginator.num_pages > 1 %}
  {% bootstrap_pagination requests extra=request.GET.urlencode %}
{% endif %}
{% endblock %}
{% block extra_javascript %}
{% render_bundle 'requestgroup_detail' %}
{% endblock %}
