{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Request Group Detail {% endblock %}
{% block content %}
{% include 'requestgroups/partials/requestgroup_header.html' with requestgroup=object.request_group %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb bg-light">
      <li><a href="{% url 'requestgroups:detail' object.request_group %}">Sub-requests</a></li>
      <li class="active">&nbsp;#{{ object.id }}</li>
    </ol>
  </div>
</div>
{% include 'requestgroups/partials/request_row.html' with request=object link=False %}
<div id="request-detail" data-requestid="{{ object.id }}">
  <div id="app"></div>
</div>
{% block extra_javascript %}
{% render_bundle 'request_detail' %}
{% endblock %}
{% endblock %}
