{% extends 'base.html' %}
{% load static %}
{% block title %} Request Group Detail {% endblock %}
{% block content %}
{% include 'requestgroups/partials/requestgroup_header.html' with requestgroup=object.request_group %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="{% url 'requestgroups:detail' object.request_group %}">Sub-requests</a></li>
      <li class="active"># {{ object.id }}</li>
    </ol>
  </div>
</div>
{% include 'requestgroups/partials/request_row.html' with request=object link=False %}
<div id="request-detail" data-requestid="{{ object.id }}">
  <div id="app"></div>
</div>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" src="{% static 'bundles/vendors~request_detail.js' %}"></script>
<script type="text/javascript" src="{% static 'bundles/request_detail.js' %}"></script>
{% endblock %}
