# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master-standalone/deployment-apps-v1.json

apiVersion: apps/v1
kind: Deployment
metadata:
  name: dramatiq-scheduler
  labels:
    app.kubernetes.io/component: dramatiq-scheduler
spec:
  replicas: 1

  selector:
    matchLabels:
      app.kubernetes.io/component: dramatiq-scheduler
  template:
    metadata:
      labels:
        app.kubernetes.io/component: dramatiq-scheduler
    spec:
      securityContext:
        fsGroup: 1000

      volumes:
        - name: tmp
          emptyDir:
            sizeLimit: 32Mi

      containers:
        - name: default
          image: observation-portal
          command:
            - python
            - manage.py
            - runscript
            - observation_portal.task_scheduler

          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            readOnlyRootFilesystem: true

          volumeMounts:
            - name: tmp
              mountPath: /tmp

          envFrom:
            - configMapRef:
                name: env
                optional: true
            - secretRef:
                name: env
                optional: true

          livenessProbe:
            initialDelaySeconds: 15
            timeoutSeconds: 3
            failureThreshold: 3
            successThreshold: 1
            periodSeconds: 30
            exec:
              command:
                - /bin/true
