apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./api/
  - ./deploy-static.yaml
  - ./svc-static.yaml
  - ./deploy-dramatiq-scheduler.yaml
  - ./deploy-dramatiq-worker.yaml

commonLabels:
  app.kubernetes.io/name: observation-portal
