{% load i18n request_extras %}
<div class="row">
  <div class="col-md-12 ">
    <h2>{{ requestgroup.name }} <br/><small>Tracking # {{ requestgroup.id }}</small></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <dl class="col-md-2">
      <dt>{% trans 'State' %}</dt>
      <dd class="text-{{ requestgroup.state|state_to_bs }}">
        <i class="fa fa-{{ requestgroup.state|state_to_icon }}"></i> {{ requestgroup.state }}
      </dd>
    </dl>
    <dl class="col-md-1">
      <dt>{% trans 'Updated' %}</dt>
      <dd>{{ requestgroup.modified }}</dd>
    </dl>
    <dl class="col-md-1">
      <dt>{% trans 'Submitted' %}</dt>
      <dd>{{ requestgroup.created }}</dd>
    </dl>
    <dl class="col-md-2">
      <dt>{% trans 'Proposal' %}</dt>
      <dd>
        <a href="{% url 'proposals:detail' pk=requestgroup.proposal.id %}">{{ requestgroup.proposal }}</a>
      </dd>
    </dl>
    <dl class="col-md-2">
      <dt>{% trans 'Submitter' %}</dt>
      <dd>{{ requestgroup.submitter }}</dd>
    </dl>
    <dl class="col-md-2">
      <dt>IPP</dt>
      <dd>{{ requestgroup.ipp_value }}</dd>
    </dl>
    {% if requestgroup.observation_type == 'RAPID_RESPONSE' %}
    <div class="col-md-1">
      <p><i>{% trans 'Rapid Response' %}</i></p>
    </div>
    {% endif %}
    <span class="col-md-1">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a title="Copy this request" href="{% url 'requestgroups:create' %}?requestgroupid={{ requestgroup.id }}">
              <i class="fa fa-copy"></i> Copy
            </a>
          </li>
          {% if requestgroup.state == 'PENDING' and user.is_authenticated %}
          <li>
            <a title="Cancel this request" id="cancelrg" data-id="{{ requestgroup.id }}">
              <i class="fa fa-times"></i> Cancel
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </span>
  </div>
</div>
